{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
	<div class="animal-container">
		<h1>Fiches Animaux</h1>
		{% for animal in animals %}
			{{ animal.nom }}
			<a href="{{ path('app_animal_edit', {'id': animal.id}) }}">Voir / Modifier</a>
		{% else %}
			<p>Aucun animal enregistré</p>
		{% endfor %}
		<a href="{{ path('app_animal_new') }}">Ajouter un animal</a>
		<a href="{{ path('app_profil') }}">Retour</a>
	</div>
{% endblock %}
