{% extends 'base.html.twig' %}

{% block title %}PAS DEL ROC - Éducation{% endblock %}

{% block body %}
	<div class="education-container">
		<div class="education-content">
			<h2>Éducation</h2>
			<ul>
				<li>Formée aux méthodes amicales et positives par Patrick Aufroy @doggycoach, depuis 2016, je suis en mesure de vous conseiller pour l’éducation de votre chien ou en cas de problèmes de comportement.</li>
				<li>Pour plus d'informations, n'hésitez pas à me contacter.</li>
				<p>À bientôt !</p>
			</ul>
		</div>
		<div class="infos">
			<h2>À propos de moi</h2>
			<ul>
				<li>Éleveuse de berger australien depuis 2011, je travaille dans le milieu animalier depuis plus de 10 ans.</li>
				<li>Je suis titulaire du certificat de capacité et de l’ACACED.</li>
				<li>Confrontée aux problèmes de garde des propriétaires et suite à une demande de plus en plus forte, nous avons voulu créer une pension à taille humaine pour accueillir vos chats et vos chiens dans un lieu confortable et adapté aux besoins de votre animal.</li>
			</ul>
		</div>
	</div>
{% endblock %}
