/* REGLES GENERALES */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    scroll-behavior: smooth;
    --black-color: #1f1e23;
    --darkgrey-color: #3c3c3c;
    --grey-color: #d3d3d3;
    --white-color:#ffffff;
    --orange-color:#dd8452;
    --yellow-color:#F7CE68;
    --blue-color:#006eff;
    --lightblue-color:#8ac8ff;
    --red-color: #ff0000;
}

body {
    background-image: url(/public/images/arriere-plan.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 18px;
}

p,
li {
    font-size: 14px;
}

.no-content {
    font-size: 16px;
    font-weight: 600;
    color: var(--white-color);
}

/* COOKIES */
.cookie-title {
    padding-bottom: 5px;
}

.ch-cookie-consent__read-more {
    display: none !important;
}

.cookie-infos {
    color: var(--black-color);
    font-weight: bold;
    text-decoration: none;
}

.cookie-infos:hover {
    text-decoration: underline;
}

/* NAVBAR / FOOTER */
.menu-burger {
    display: none;
}

.menu {
    display: block;
    top: 0;
    z-index: 999999;
}

.menu,
footer {
    width: 100vw;
    height: 8vh;
    position: fixed;
    background-color: var(--orange-color);
    background-image: -o-linear-gradient(28deg, var(--orange-color) 0%, var(--yellow-color) 100%);
    background-image: linear-gradient(62deg, var(--orange-color) 0%, var(--yellow-color) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu>a {
    padding: 5px 10px;
    border-radius: 30px;
    color: var(--white-color);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.fa-house {
    padding: 10px 5px;
}

footer {
    bottom: 0;
}

.menu a,
footer a,
footer p {
    font-size: 16px;
    color: var(--white-color);
    text-decoration: none;
}

footer a:hover,
footer p:hover {
    color: var(--black-color);
}

.fa-facebook {
    font-size: 25px;
}

.lien-nav:hover{
    color: var(--black-color);
    background-color: var(--white-color);
}

.menu .fa-bounce{
    visibility: hidden;
}

.lien-nav:hover .fa-bounce {
    visibility: visible;
}

.home .fa-bounce {
    display: none;
}

.home:hover .static {
    display: none;
}

.home:hover .fa-bounce {
    display: block;
}

.anim-box {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.anim-link {
    font-size: 16px;
    color: var(--white-color);
    padding: 5px 10px;
}

.formules-box {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 8vh;
    position: fixed;
    top: -1000px;
    background-color: var(--orange-color);
    background-image: -o-linear-gradient(28deg, var(--orange-color) 0%, var(--yellow-color) 100%);
    background-image: linear-gradient(62deg, var(--orange-color) 0%, var(--yellow-color) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-radius: 0 0 5px 5px;
    padding: 0 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: -1;
}

.formules-box .lien-nav:hover {
    background: none;
}

.anim-box:hover .formules-box{
    top: 8vh;
}

.anim-box:hover .anim-link{
    color: var(--black-color);
    background-color: var(--white-color);
    border-radius: 30px;
}

.space {
    margin-left: 10px;
}

/* ALERTES */
.alert {
    top: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
    position: fixed;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0 0 10px 10px;
    z-index: 999999;
    -webkit-animation: hideAlert 5s ease-in-out forwards;
            animation: hideAlert 5s ease-in-out forwards;
}
  
@-webkit-keyframes hideAlert {
    0% {
      opacity: 0;
      top: -5vh;
    }
    20% {
      opacity: 1;
      top: 0;
    }
    80% {
      opacity: 1;
      top: 0;
    }
    100% {
      opacity: 0;
      top: -5vh;
    }
}
  
@keyframes hideAlert {
    0% {
      opacity: 0;
      top: -5vh;
    }
    20% {
      opacity: 1;
      top: 0;
    }
    80% {
      opacity: 1;
      top: 0;
    }
    100% {
      opacity: 0;
      top: -5vh;
    }
}

.alert-success {
    color: #065f46 !important;
    background-color: #d1fae5 !important;
    border-bottom: 2px solid #a7f3d0 !important;
}

.alert-danger {
    color: #5f0606 !important;
    background-color: #fad1d1 !important;
    border-bottom: 2px solid #f3a7a7 !important;
}

/* ACCUEIL */
.accueil-container {
    width: 100vw;
    min-height: 100vh;
    overflow-y: hidden;
}

.accueil-container .up {
    height: 60%;
    padding-top: 10vh;
}

.accueil-container h1 {
    color: var(--white-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1vh;
}

.accueil-container h2 {
    text-transform: uppercase;
    color: var(--orange-color);
    text-align: center;
    margin-bottom: 5vh;
}

.up-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10vw;
}

.logo {
    width: 400px;
    height: 300px;
    -webkit-filter: invert(1);
            filter: invert(1);
}

.accueil-container iframe {
    width: 450px;
    height: 300px;
    border-radius: 10px;
}

.accueil-container .down {
    width: 100%;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.commentaire-link {
    font-size: 18px;
    font-weight: 600;
    display: block;
    color: var(--blue-color);
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}

.commentaire-box {
    width: 60vw;
    min-height: 200px;
    background-color: var(--white-color);
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    padding: 20px;
}

.commentaire-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    visibility: collapse;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.description {
    font-size: 14px;
    color: var(--black-color);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.nom-client {
    font-size: 16px;
    font-weight: 500;
    color: var(--orange-color);
    margin-bottom: 20px;
}

/* FORMULES */
.formules-container {
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10vh 12.5vw;
    gap: 30px;
}

.card {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--white-color);
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    line-height: 2.5;
    padding: 25px 50px;
}

.images-formules-box {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    margin: 3vh 0;
}

.img-chien,
.img-chat {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card li {
    color: var(--darkgrey-color);
}

.tarifs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--white-color);
    margin-top: 3vh;
}

.tarifs h2 {
    text-align: center;
    padding-bottom: 10px;
}

.tarifs table{
    width: 700px;
    background-color: var(--orange-color);
    background-image: -o-linear-gradient(28deg, var(--orange-color) 0%, var(--yellow-color) 100%);
    background-image: linear-gradient(62deg, var(--orange-color) 0%, var(--yellow-color) 100%);
}

.tarifs tr{
    height: 60px;
    background-color: var(--white-color);
}

.tarifs .left{
    width: 60%;
    color: var(--darkgrey-color);
    padding: 0 10px;
}

.tarifs .right{
    width: 40%;
    color: var(--darkgrey-color);
    text-align: center;
    font-weight: 600;
}

.infos h2 {
    text-align: center;
}

.infos li {
    color: var(--darkgrey-color);
}

/* GALERIE */
.galerie-container{
    width: 100vw;
    min-height: 100vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
    padding: 10vh 10vw;
}

.galerie-container img{
    max-width: 400px;
    max-height: 400px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
            box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
}

/* ÉDUCATION */
.education-container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10vh 0;
    gap: 30px;
}

.education-content {
    width: 900px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: var(--white-color);
    padding: 15px 35px 20px 40px;
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    line-height: 2.5;
}

.education-content h2 {
    text-align: center;
}

.education-content p {
    color: var(--darkgrey-color);
}

.infos {
    width: 900px;
    background-color: var(--white-color);
    padding: 15px 35px 20px 40px;
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    line-height: 2.5;
}

/* LIVRE D'OR */
.livre-d-or-container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.livre-d-or-container h2 {
    text-align: center;
    color: var(--black-color);
    padding-bottom: 50px;
}

.livre-d-or-box {
    width: 55vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
}

.commentaires {
    max-height: 500px;
    overflow-y: scroll;
}

.commentaires .no-content {
    color: var(--black-color);
    text-align: center;
    margin-top: 30px;
}

.commentaire {
    padding: 20px 0;
}

/* CONTACT */
.contact-container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.maps {
    width: 500px;
    height: 450px;
}

.contact-container iframe {
    border: 1px solid var(--grey-color);
    border-radius: 10px;
}

.contact-form-container {
    width: 400px;
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    background-color: var(--white-color);
}

.contact-form-container h2 {
    text-align: center;
}

.contact-input {
    width: 100%;
    height: 35px;
    padding: 5px;
}

.objet {
    width: 100%;
}

.contact-textarea {
    width: 100%;
    height: 170px;
    padding: 5px;
}

.contact-btn {
    width: 150px;
    height: 35px;
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 5px;
}

.horaires {
    width: 300px;
    height: 450px;
    border: 1px solid var(--grey-color);
    padding: 20px 0;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--white-color);
}

.horaires>h2 {
    margin-bottom: 20px;
}

.horaires ul span {
    font-weight: 600;
}

.horaires li {
    color: var(--darkgrey-color);
    line-height: 45px;
    list-style-type: none;
}

/* CONNEXION / CREER UN COMPTE */
.user-container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.user-content {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--white-color);
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    padding: 20px;
}

.user-content h1 {
    margin-bottom: 10px;
}

.register-form {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.login-form {
    width: 300px;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
}

.login-form label,
.register-form label {
    font-size: 16px;
    color: var(--darkgrey-color);
}

.group-input {
    width: 100%;
    font-size: 25px;
    text-align: center;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 0 5px;
    margin-top: 5px;
    color: var(--darkgrey-color);
}

.submit-btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 5px;
}

.register-form .submit-btn {
    margin: 15px 0;
}

.login-form .submit-btn {
    margin-bottom: 15px;
}

.forgot {
    font-size: 12px;
    color: var(--blue-color);
    text-decoration: none;
}

.alternative {
    font-size: 14px;
    font-weight: 500;
    color: var(--blue-color);
    text-decoration: none;
    text-align: center;
}

.register-form p,
.login-form p {
    color: var(--darkgrey-color);
    text-align: center;
}

/* RESET PASSWORD */
.reset-password-container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.reset-password-container h2 {
    color: var(--white-color);
    text-align: center;
}

.reset-password-content {
    width: 80%;
    line-height: 4;
}

.reset-password-form {
    width: 500px;
    padding: 50px;
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-color: var(--white-color);
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    margin-top: 5vh;
}

.reset-password-form p {
    font-size: 12px;
    color: var(--darkgrey-color);
}

.reset-password-form label {
    font-size: 16px;
    color: var(--darkgrey-color);
}

.reset-password-form .form-control,
.reset-password-form .submit-btn {
    width: 300px;
}

.reset-password-form .submit-btn {
    margin-bottom: 0;
}

/* MON PROFIL : ACCUEIL */
.profil-container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10vh 0;
}

.profil-container>h2 {
    color: var(--white-color);
}

.cards-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 12.5vw;
}

.cards-container h2 {
    font-size: 22px;
}

.profil-link {
    text-decoration: none;
}

.profil-card {
    width: 400px;
    height: 250px;
    color: var(--darkgrey-color);
    border: 1px solid var(--grey-color);
    background-color: var(--white-color);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
    line-height: 2;
    gap: 20px;
}

.profil-card>i {
    font-size: 30px;
}

.logout {
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 50px;
}

#supprimer {
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--red-color);
    padding: 5px 10px;
    border-radius: 10px;
}

/* MON PROFIL : MES INFORMATIONS PERSONELLES */
.user-info-container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.user-info-container h2 {
    color: var(--white-color);
}

.user-form-container {
    width: 760px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    background-color: var(--white-color);
    padding: 20px;
    margin: 5vh 0;
    gap: 20px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.input-group {
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.long-input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.form-input {
    width: 270px;
    height: 35px;
    padding: 0 7px;
    margin-top: 5px;
}

.long-form-input {
    width: 100%;
    height: 35px;
    padding: 0 7px;
    margin-top: 5px;
}

input,
textarea {
    color: var(--darkgrey-color);
    font-size: 14px;
    border: 1px solid var(--grey-color);
    border-radius: 5px;
}

input:hover,
textarea:hover {
    border: 1px solid var(--lightblue-color);
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid var(--lightblue-color);
    -webkit-box-shadow: var(--lightblue-color) 0px 0px 5px 0px, var(--lightblue-color) 0px 0px 1px 0px;
            box-shadow: var(--lightblue-color) 0px 0px 5px 0px, var(--lightblue-color) 0px 0px 1px 0px;
}

.user-form-container label {
    color: var(--darkgrey-color);
    font-size: 15px;
    font-weight: 500;
}

.user-form-container>.long-input-group {
    width: 100%;
}

.user-form-container>.btn {
    width: 270px;
    height: 35px;
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 5px;
}

/* MON PROFIL : FICHES ANIMAUX */
/* index */
.animal-container-index {
    width: 100vw;
    min-height: 100vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10vh 0;
}

.animal-container-index h2 {
    color: var(--white-color);
}

.animal-container-index>.boutons {
    width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4vh 0 6vh 0;
}

.ajouter,
.retour {
    width: 150px;
    padding: 5px 0;
    border-radius: 5px;
    color: var(--white-color);
    text-decoration: none;
    text-align: center;
}

.ajouter {
    background-color: var(--blue-color);
}

.retour {
    background-color: var(--orange-color);
}

.animaux-list {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
}

.animaux-list a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    text-decoration: none;
    text-align: center;
    color: var(--darkgrey-color);
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 5px 10px;
    -webkit-box-shadow: var(--lightblue-color) 0px 0px 5px 0px, var(--lightblue-color) 0px 0px 1px 0px;
            box-shadow: var(--lightblue-color) 0px 0px 5px 0px, var(--lightblue-color) 0px 0px 1px 0px;
}

/* Nouvel animal / Modifier */
.animal-container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.animal-container h2 {
    color: var(--white-color);
}

.animal-form-container {
    width: 1000px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: var(--white-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    gap: 20px;
}

.animal-form-container label {
    color: var(--darkgrey-color);
    font-size: 15px;
    font-weight: 500;
}

.animal-form-container li::marker {
    color: var(--red-color);
}

#animal_form_type,
#animal_form_sexe,
#animal_form_sterilisation,
#animal_form_medical {
    height: 35px;
    font-weight: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#animal_form_type_1,
#animal_profil_form_type_1 {
    margin-left: 34px;
}

#animal_form_sexe_1,
#animal_profil_form_sexe_1 {
    margin-left: 42px;
}

#animal_form_sterilisation_1,
#animal_form_medical_1 {
    margin-left: 50px;
}

.sterilisation-input-group {
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.textarea-group {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.form-textarea-input {
    width: 50%;
    height: 150px;
    padding: 7px;
    margin-top: 5px;
}

.animal-form-container>.btn {
    width: 270px;
    height: 35px;
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 5px;
}

.boutons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
}

/* COMMENTAIRE FORM */
.commentaire-container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.commentaire-form-container {
    width: 600px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 40px;
    background-color: var(--white-color);
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    gap: 20px;
}

.commentaire-form-container>h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.commentaire-input {
    width: 300px;
    height: 35px;
    padding: 5px;
}

.commentaire-textarea {
    height: 200px;
    padding: 5px;
}

.commentaire-btn {
    width: 150px;
    height: 35px;
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 5px;
}

/* RESPONSIVE MOBILE */
@media screen and (max-width: 420px) and (orientation: portrait) {
    /* Général */
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 24px;
    }

    /* NAVBAR */
    .menu {
        display: none;
    }

    .menu-burger {
        display: block;
        top: 0;
        width: 100vw;
        height: 8vh;
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: transparent;
        z-index: 1;
    }

    #menuToggle {
        display: block;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
        padding-top: 5px;
        padding-left: 6vw;
    }

    #menuToggle a {
        color: var(--orange-color);
        text-decoration: none;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }

    /*
    * Just a quick hamburger
    */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background-color: var(--orange-color);
        background-image: -o-linear-gradient(28deg, var(--orange-color) 0%, var(--yellow-color) 100%);
        background-image: linear-gradient(62deg, var(--orange-color) 0%, var(--yellow-color) 100%);
        border-radius: 3px;
        z-index: 1;
        -webkit-transform-origin: 4px 0px;
            -ms-transform-origin: 4px 0px;
                transform-origin: 4px 0px;
        -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease,
            -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease,
            -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease,
            -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menuToggle span:first-child {
        -webkit-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        -webkit-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
                transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked~span {
        opacity: 1;
        -webkit-transform: rotate(45deg) translate(-2px, -1px);
            -ms-transform: rotate(45deg) translate(-2px, -1px);
                transform: rotate(45deg) translate(-2px, -1px);
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            -ms-transform: rotate(0deg) scale(0.2, 0.2);
                transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked~span:nth-last-child(2) {
        -webkit-transform: rotate(-45deg) translate(0, -1px);
            -ms-transform: rotate(-45deg) translate(0, -1px);
                transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu {
        position: absolute;
        width: 100vw;
        height: 101vh;
        padding: 10vh 0 4vh 5vw;
        top: -11px;
        left: 0;
        background: rgba(255, 255, 255, 0.8);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        -webkit-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
        -webkit-transform: translate(-100%, 0);
            -ms-transform: translate(-100%, 0);
                transform: translate(-100%, 0);
        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu a {
        font-size: 18px;
        font-weight: 500;
    }

    /*
    * And let's slide it in from the left
    */
    #menuToggle input:checked~ul {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    /* FOOTER */
    footer {
        height: 15vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    footer>p,
    footer>a {
        font-size: 14px;
    }

    /* ACCUEIL */
    .accueil-container {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 6vh 5vw 18vh 5vw;
        position: relative;
    }

    .accueil-container .up {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding-top: 0;
    }

    .up h2 {
        font-size: 16px;
    }

    .up-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0;
        gap: 40px;
    }

    .up-content .logo {
        width: 100%;
        height: 250px;
    }

    .up-content iframe {
        width: 100vw;
        height: 250px;
    }

    .accueil-container .down {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding-top: 40px;
        padding-bottom: 0;
    }
    
    .accueil-container .commentaire-link {
        font-size: 15px;
    }

    .accueil-container .commentaire-box {
        width: 100%;
        min-height: 300px;
    }

    /* NOS FORMULES */
    .formules-container {
        position: relative;
        padding: 8vh 5vw 18vh 5vw;
        gap: 30px;
    }

    .formules-content {
        width: 90vw;
        padding: 0;
    }

    .formules {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .card {
        width: 100%;
        padding: 15px 20px;
        line-height: 2;
    }

    .images-formules-box img {
        max-width: 100%;
    }

    .card p {
        font-size: 12px;
    }

    .card>ul>li,
    .infos>ul>li {
        font-size: 12px;
        margin-top: 10px;
    }

    .tarifs table {
        width: 100%;
        font-size: 12px;
    }

    .tarifs .left {
        width: 80%;
        padding-left: 0;
        padding: 0 5px;
    }

    .tarifs .right {
        width: 20%;
    }

    .infos {
        padding: 15px 20px 15px 25px;
        line-height: 2;
    }

    /* GALERIE */
    .galerie-container {
        padding-bottom: 18vh;
        position: relative;
    }

    .galerie-container img {
       width: 90vw;
    }

    /* ÉDUCATION */
    .education-container {
        position: relative;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 8vh 5vw 18vh 5vw;
        gap: 20px;
    }

    .education-content,
    .infos {
        width: 90vw;
        padding: 15px 20px 15px 25px;
    }

    .education-content li,
    .education-content p {
        font-size: 12px;
    }

    /* LIVRE D'OR */
    .livre-d-or-container {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        padding-top: 10vh;
    }

    .livre-d-or-box {
        width: 90vw;
    }

    .livre-d-or-box h2 {
        padding-bottom: 30px;
    }

    .livre-d-or-box .commentaire-link {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .livre-d-or-box .commentaires {
        max-height: 300px;
        padding: 15px 0;
    }

    .nom-client {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .description {
        font-size: 12px;
    }

    /* COMMENTAIRE-FORM */
    .commentaire-container {
        padding-bottom: 10vh;
    }

    .commentaire-form-container {
        width: 90vw;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 20px;
        gap: 25px;
    }
    
    .commentaire-form-container h2 {
        font-size: 15px;
        margin-bottom: 0;
    }

    .commentaire-input,
    .commentaire-textarea,
    .commentaire-btn {
        width: 100%;
    }

    /* CONTACT */
    .contact-container {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: initial;
            -ms-flex-pack: initial;
                justify-content: initial;
        padding: 8vh 0 18vh 0;
        gap: 30px;
        position: relative;
    }

    .contact-form-container {
        padding: 20px;
        gap: 20px;
    }

    .contact-form-container,
    .horaires {
        width: 90vw;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .contact-input,
    .objet {
        width: 100%;
    }

    .contact-textarea {
        width: 100%;
        height: 150px;
    }

    .commentaire-btn-box,
    .contact-btn-box,
    .contact-btn {
        width: 100%;
    }

    .maps {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: 100%;
        height: 40vh;
    }

    iframe {
        border: 0;
        border-radius: 0;
    }

    .horaires>ul>li {
        font-size: 16px;
        line-height: 3;
    }

    /* CONNEXION / CREER UN COMPTE */
    .user-container {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        padding-top: 10vh;
    }

    .user-content {
        width: 90vw;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 20px 30px;
    }

    .register-form,
    .login-form {
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        gap: 10px;
        margin-bottom: 5px;
    }

    .register-form>p {
        text-align: center;
    }

    /* RESET PASSWORD */
    .reset-password-content {
        width: 90%;
        line-height: 2.5;
    }

    .reset-password-content p {
        font-size: 12px;
    }

    .reset-password-form {
        width: 90%;
        padding: 30px;
        gap: 20px;
    }

    .reset-password-form .form-control,
    .reset-password-form .submit-btn {
        width: 100%;
    }

    /* MON PROFIL : ACCUEIL */
    .profil-container {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding-top: 1.5vh;
        padding-bottom: 18vh;
    }

    .profil-container h2 {
        margin-bottom: 50px;
    }

    .cards-container {
        width: 90vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;
        padding-top: 0;
        padding-bottom: 30px;
    }

    .profil-card,
    .profil-link {
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    
    .profil-card {
        padding: 20px;
    }

    .profil-card>i {
        font-size: 25px;
    }

    .profil-card h2 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .profil-card p {
        font-size: 12px;
    }

    .logout {
        margin-bottom: 30px;
    }

    /* MON PROFIL : MES INFORMATIONS PERSONNELLES */
    .user-info-container {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 8vh 0 17vh 0;
        position: relative;
    }

    .user-info-container h2 {
        font-size: 18px;
        text-align: center;
    }

    .user-form-container {
        width: 90vw;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin: 20px 0;
    }

    .user-form-container,
    .user-form-container>.row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
    }

    .user-form-container .form-input,
    .user-form-container .input-group {
        width: 100%;
    }

    .user-form-container>.btn {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    /* MON PROFIL : FICHES ANIMAUX */
    /* index */
    .animal-container-index {
        padding: 8vh 5vw 17vh 5vw;
        -webkit-box-align: initial;
            -ms-flex-align: initial;
                align-items: initial;
    }

    .animal-container-index h2 {
        text-align: center;
    }

    .animal-container-index>.boutons {
        width: 90vw;
        margin: 30px 0;
    }

    .animaux-list {
        width: 80vw;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 40px;
    }

    .animaux-list>a {
        font-size: 14px;
    }

    /* Nouvel animal / Modifier */
    .animal-container {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 1.5vh 0 18vh 0;
        position: relative;
    }

    .animal-form-container {
        width: 90vw;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 20px;
        margin: 3vh 0;
    }

    .animal-form-container,
    .animal-form-container>.row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
    }

    .form-textarea-input {
        width: 100%;
    }

    .animal-form-container>.btn {
        width: 100%;
    }

    .animal-container>.boutons {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 30px;
        margin-top: 20px;
    }
}