<footer>
        <p><i class="fa-solid fa-phone"></i>Telephone</p>
        <a href="#"><i class="fa-solid fa-envelope"></i>Email</a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <p><i class="fa-solid fa-location-dot"></i>Adresse</p>
</footer>