<footer>
        <p><i class="fa-solid fa-phone"></i> 06 74 78 78 11</p>
        <a href="mailto:pensionpasdelroc@gmail.com"><i class="fa-solid fa-envelope"></i> pensionpasdelroc@gmail.com</a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <p><i class="fa-solid fa-location-dot"></i> 32 Route de Bessières, 31380 Paulhac</p>
</footer>